[DEFAULT]
wsuserkey = 67ef5e0a86d44b76b1bcd858afe1363514f6c6eb97e44816b3a4ec6cdb347e66
wsorgtoken = f553726763e3470993bbeffed978b4165045fed339c64a628d28f2961c31f41b
wsurl = https://saas-eu.whitesourcesoftware.com
azureurl = https://dev.azure.com/
azureorg = tabacwssandbox
azurepat = dfpg6oc63zvt2rkrljvprmocvs64guceweqb63d53dq4crewzskq
modificationtypes = POLICY_MATCH
lastrun = 2022-06-17 07:43:48
utcdelta = -3
synctime = 5
syncrun = False
initialsync = True
initialstartdate = 2022-04-01

[links]
azureproject = wi-test
wsproducts = 
wsprojects = 0ce81350f23945dfbcf53b22f898ce99db6f14ad7e7c43cea066f157c87b2999

